using System;
using System.Collections.Generic;
using System.Linq;
using System.Text;
using System.Threading.Tasks;

namespace Inspinia_MVC5.Views.Profile
{
    class CreateProfile
    {
 

    <div class="form-group">

        @Html.LabelFor(model => model.FirstName)

        @Html.TextBoxFor(model => model.FirstName, new { Class = "form-control" })

        @Html.ValidationMessageFor(model => model.FirstName)

    </div> 

    <div class="form-group">

        @Html.LabelFor(model => model.LastName)

        @Html.TextBoxFor(model => model.LastName, new { Class = "form-control" })

        @Html.ValidationMessageFor(model => model.LastName)

    </div>

    <div class="form-group">

        @Html.LabelFor(model => model.Address)

        @Html.TextBoxFor(model => model.Address, new { Class = "form-control" })

        @Html.ValidationMessageFor(model => model.Address)

    </div>

    <div class="form-group">

        @Html.LabelFor(model => model.Email)

        @Html.TextBoxFor(model => model.Email, new { Class = "form-control" })

        @Html.ValidationMessageFor(model => model.Email)

    </div>

    <div class="form-group">

        @Html.LabelFor(model => model.PhoneNumber)

        @Html.TextBoxFor(model => model.PhoneNumber, new { Class = "form-control" })

        @Html.ValidationMessageFor(model => model.Email)

    </div>

    <input type = "submit" class="btn btn-default"/>

}
    }
}
